<h1>What is your question?</h1>

<form action="/answer" method= "get">
  <input type="text" name="question" placeholder="What do you want?!?" value ="ask">
  <input type="submit" value="Ask!">
</form>
